@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-8">
            <h1>Garbage Collector</h1>
                <p class="lead">A new way to dispose of your filthy trash.</p>
                <input type="button" class="btn btn-primary btn-lg" value="Sign Up &raquo;" onclick="location.href='@Url.Action("Register", "Account")'" />
        </div>  
        <div class="col-lg-4">
            <img src="~/Images/gtruck.jpg" />
        </div>
    </div>
</div>